
 .navbar
 {  
     z-index: 1;
     opacity: 0.9 !important; 
     filter:(opacity=50) !important;  
     background: rgb(7, 7, 7)!important;     
 }
 
 
 .inner-html{
     height: 70vh;
    
     background: url('https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg?cs=srgb&dl=pexels-fabian-wiktor-994605.jpg&fm=jpg') no-repeat center center fixed; 
     
   
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
 }

 @media (max-width: 1000px){
    .inner-html{
        height: 70vh;
       
        background: url('https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg?cs=srgb&dl=pexels-fabian-wiktor-994605.jpg&fm=jpg') no-repeat center center fixed; 
        
      
       
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
     
    }
   
    
}

.card{
    margin-top: -15vh;

}
 
 .Data{
    margin-top: -12vh;
    
 }

 @media (max-width: 1000px){
    .Data{
    
        margin-top: -19vh;
      
    }
    
}
 /* .inner-html2{
     height: 30vh;
    
     background: url('https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg?cs=srgb&dl=pexels-fabian-wiktor-994605.jpg&fm=jpg') no-repeat center center fixed; 
     
   
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
 } */
 .welcome{
     
      /* background: radial-gradient(circle, rgba(255,255,255,0.7) 10%, rgba(255,255,255,0) 100%, rgba(0,0,05,1) 100%);
       */
      /* margin-top: 15%;
      padding-top: 15vh;
      padding-bottom: 15vh; */
      width: 100%;
      position: absolute;
      bottom: 20%;
      text-align: center;
    
  }
  .welcome h1{
      text-shadow: .1rem .1rem .8rem black;
  }
  .welcome h5{
     text-shadow: .1rem .1rem .8rem black;
 }
  @media (max-width: 800px){
     .welcome{
     
         /* background: radial-gradient(circle, rgba(255,255,255,0.7) 10%, rgba(255,255,255,0) 100%, rgba(0,0,05,1) 100%);
          */
         /* margin-top: 5%;
         padding-top: 4vh;
         padding-bottom: 15vh; */
         position: absolute;
         bottom: -1%;
        
       
     }
     
 }
 
 /* nav{
     z-index: 1;
     opacity: 0.9; 
     filter:(opacity=50);   
 
 } */
 
  .welcome h1 {
    color: white;
    font-size: 9vh;
  }
 
  .welcome h5 {
     color: white;
     
   }
 
 footer h5{
     font-family: 'Poiret One', cursive;
     font-size: 2.5vh;
 }
 
 #mail{
     font-family: 'Nothing You Could Do', cursive;
 }
 
 .links2{
     background-color: rgba(141, 141, 141, 0.253);
 }


 /* ------------------Login ----------------- */
.card{
    /* height: 370px; */
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    width: 400px;
    background-color: rgba(0,0,0,0.3) !important;
    }
    
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    /* position: absolute; */
    right: 20px;
    top: -45px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #414141;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    /* height: 20px; */
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color: #f8f8f834;
    width: 100px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }

    .login_window{
        margin-bottom: 3vh;
        padding-top: 20vh;
    }